<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/index.css">

    <% include ../../partials/includes %>
</head>

<body>
    <% include ../../partials/nav %>

    <section id="showcase" style="background: url('images/hero.jpg')">
        <div class="container">
            <h1>Second Page...</h1>
            <p><span class="dark">HEY</span></p>
        </div>
    </section>

    <section id="text_1" class="dark">
        <div class="responsive">
            <h1>Me</h1>
            <p>
                eh idk...
            </p>
        </div>
    </section>

    <% include ../../partials/footer %>
</body>

</html>