.grid-cell h1 {
    font-size: 20px;
}

.grid-cell h3 {
    font-weight: 500;
    font-size: 16px;

    color: #5e5e5e;

    margin: 0;
}

.grid-cell p {
    font-size: 14px;
    margin-top: 1rem;
}

.grid-cell .grid-cell__img {
    margin-bottom: 0.5rem;
    height: 200px;
    width: 100%;
    background-size: cover;
    background-position: center center;
}

.grid-cell {
    max-width: 90%;
    width: 350px;
    max-width: 90%;

    margin: 0.5rem;

    box-sizing: content-box;

    text-align: left;

    background: #fafafa;
    padding: 10px;
    border-radius: 8px;

    border: 1px rgba(173, 173, 173, 0.05) double;

    box-shadow: 0 2px 0 0 rgba(60, 64, 67, 0.1);
}

.grid-cell__body {
    line-height: 1.5rem;
    font-size: 14px;
    margin: 1rem 0;

    height: 50px;
}
