<link rel="stylesheet" href="/css/footer.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<footer class="dark">
    <div id="social-container" class="container">
        <div class="container text-align-center">
            <h3>My Links</h3>
        </div>

        <div id="social_links">
            <a href="https://www.github.com/" class="fa fa-github"></a>
        </div>
    </div>
    <div id="copy">&copy; 2019 Vimolicious</div>
</footer>