<title>Vimolicious</title>

<!-- Meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description"
    content="Vimolicious is an aspiring software developer. His website includes information regarding his skill level, aswell as  his completed projects.">
<meta name="keywords" content="portfolio,myportfolio,tech,programming,coding,Javascript,HTML,CSS,Java,Python">
<meta name="author" content="Vimolicious">

<!-- Fonts -->
<link rel="stylesheet" href="/css/fonts.css">

<!-- Favicon -->
<link rel="shortcut icon" type="image/icon" href="/images/icon/favicon.ico">

<!-- Scripts -->
<script src="/includes/jquery.min.js"></script>