<link rel="stylesheet" href="/css/nav.css">
<script src="/scripts/nav.js"></script>

<header id="main-nav">
    <div class="container">
        <button id="open-close-button" onclick="openClose()"><i class="fa fa-caret-down"></i></button>
        <nav id="top-nav">
            <ul>
                <li class="active"><a href="/">Home</a></li>
                <li><a href="/projects">Projects (WIP)</a></li>
            </ul>
        </nav>
    </div>
</header>