<html>

<head>
    <% include ../partials/includes %>

    <style>
        body {
            font-family: "Avenir", sans-serif;
            margin: 0px;
        }

        #main-404 {
            display: flex;

            flex-direction: column;
            align-items: center;
            justify-content: center;

            height: 100vh;
        }

        #container h1 {
            display: inline-block;

            padding: 0 10px 0 0;
            border-right: 2px solid rgba(0, 0, 0, 0.3);

            font-size: 28px;

            margin: 0;
        }

        #container h2 {
            display: inline-block;
            font-size: 18px;

            margin: 0;
        }
    </style>
</head>

<body>
    <div id="main-404">
        <div id="container">
            <h1>404</h1>
            <h2>Page could not be found.</h2>
        </div>
    </div>
</body>

</html>