<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/index.css">
    
    <% include ../partials/includes %>
</head>

<body>
    <% include ../partials/nav %>

    <section id="showcase">
        <div class="container">
            <h1>Vimolicious</h1>
            <p><span class="dark">Aspiring Developer</span></p>
        </div>
    </section>

    <section id="text_1" class="dark">
        <div class="responsive">
            <h1>Me</h1>
            <p>
                Hello, my name is Tim. Ever since my first introduction with programming a few years
                ago, I have been captivated by the freedom and creative expression that it presents. Ever since
                I
                can remember, I have always loved being able to create cool things from nothing. Starting with
                the
                oh so fantastic Lego, and eventually turning towards software development. Although I do not
                have
                too much experience currently, I hope to persue a career in software development. As I go on my
                journey to teach myself all about software development, my progression will be documented here.
                <br>
                <br>
                Here's to a hopeful future!
                <br>
                <br>
                -Vimolicious
            </p>
        </div>
    </section>

    <section id="recent-projects">
        <div class="responsive">
            <h1>Recent Projects</h1>

            <div class="table-container">
                <table id="projects-table">
                    <thead>
                        <tr>
                            <th>Title</th>
                            <th>Description</th>
                            <th>Language</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Unannounced</td>
                            <td>Coming Soon...</td>
                            <td>Java (Probably)</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="container text-align-center">
            <h1><span class="dark"><a href="projects">See All Projects</a></span></h1>
        </div>
    </section>

    <section id="hub">
        <div class="responsive">
            <h1>My Experience</h1>
            <div id="prt-container">
                <div class="prt">
                    <img src="images/java.svg" />
                    <h3>Java</h3>
                    <p>Nearly two years of experience with Java Object Oriented programming has introduced me to
                        a
                        side
                        of programming with far more depth than I could have ever hoped for. Since my
                        introduction,
                        I
                        have created numerous projects which implement various sides of Java programming. These
                        projects include the creation of my own "sketch engine". With which I have created a
                        wide
                        spectrum of different visualizations and games.</p>
                </div>
                <div class="prt">
                    <img src="images/html.svg" />
                    <h3>HTML, CSS, Javascript</h3>
                    <p>With three years of experience, HTML, CSS, and Javascript hold a special place in my
                        heart,
                        as
                        they were my first experience with "programming". Since then, I have been able to create
                        a
                        semi-decent infastructure for a responsive web page... this one namely. In future, I
                        will
                        implement more backend elements to create an overall better project.</p>
                </div>
                <div class="prt">
                    <img src="images/python.svg" />
                    <h3>Python</h3>
                    <p>Relativly new addition to my roster of skills, Python has presented me with a whole new
                        "beast"
                        to tame. Which has actually proven to be quite enjoyable. While now I am current getting
                        to
                        grips with Python, in future, I plan on using it for backend web development.</p>
                </div>
            </div>
        </div>
    </section>

    <section id="outlook">
        <div class="responsive">
            <h1>Future Ventures</h1>
            <ul id="future-list">
                <li>Machine Learning</li>
                <li>Server backend (Python/Nodejs)</li>
                <li>Desktop applications (Electron)</li>
                <li>iOS/macOS app development (Swift)</li>
                <li>Low level C</li>
                <li>Implementation of API's</li>
            </ul>
        </div>
    </section>

    <% include ../partials/footer %>
</body>

</html>